.App {
  line-height: 1.6;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.header {
  padding: 20px;
  padding-top: 40px;
  max-width: 560px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #2c4138;
  h1 {
    font-family: "Grounded";
    letter-spacing: 3.2px;
    font-size: 40px;
    line-height: normal;
    color: #2c4138;
  }
  p {
    margin: 0;
    color: #2c4138;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.9px;
    text-align: center;
  }
  img {
    width: 7rem;
  }
}

.logo-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

section {
  background-color: #eff1ef;
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 40px;
  transition: padding 0.3s ease;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
  h2 {
    margin: 0px;
    transition: margin 0.3s ease;
  }
}

section.about:hover,
section.publishing:hover {
  background-color: #f5f7f5;
  h2 {
    margin: 6px;
  }
}

.about,
.publishing {
  max-width: 560px;
}

.join-us {
  max-width: 400px;
  align-self: center;
  background-color: #fafcfa;
  ul {
    padding: 0;
  }
  li {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    a {
      border-radius: 8px;
      display: flex;
      margin-bottom: 12px;
      padding: 12px 22px;
      width: 100%;
      color: #2c4138;
      justify-content: space-between;
      transition: padding 0.3s ease;
      box-sizing: border-box;
      background-color: #eff1ef;
    }
  }

  a:hover {
    background-color: #f5f7f5;
    padding: 12px 16px;
  }
}

.separator {
  border: none;
  background: rgba(121, 135, 129, 0.7);
  border-bottom: 1px solid rgba(121, 135, 129, 0.7);
  width: 100%;
  margin-bottom: 20px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 32px;
  a {
    color: #2c4138;
  }
  h1 {
    font-family: "Grounded";
    letter-spacing: 3.2px;
    font-size: 40px;
    line-height: normal;
    color: #2c4138;
  }
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    width: 100%;
    gap: 8px;
    align-items: center;
    margin-bottom: 10px;
  }
}
