.App {
  line-height: 1.6;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.header {
  padding: 20px;
  max-width: 560px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #2c4138;
  h1 {
    font-family: "Grounded";
    letter-spacing: 3.2px;
    font-size: 40px;
    line-height: normal;
    color: #2c4138;
  }
  p {
    margin: 0;
    color: #2c4138;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.9px;
  }
  img {
    width: 7rem;
  }
}

.logo-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

section {
  background-color: #eff1ef;
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 40px;
}

.about,
.join-us,
.publishing {
  max-width: 560px;
}

.separator {
  border: none;
  background: rgba(121, 135, 129, 0.7);
  border-bottom: 1px solid rgba(121, 135, 129, 0.7);
  width: 100%;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 32px;
  a {
    color: #2c4138;
  }
}
