.App {
  line-height: 1.6;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

@font-face {
  font-family: "Grounded";
  src: url("./assets/fonts/Grounded.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "Grounded";
  font-weight: bold;
  color: rgb(34, 60, 39);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter";
  font-weight: bold;
  color: rgb(91, 165, 66);
}

.header {
  padding: 20px;
  max-width: 560px;
  align-self: center;
  img {
    width: 7rem;
  }
}

.logo-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.about,
.join-us,
.publishing {
  padding: 20px;
  border-radius: 8px;
  max-width: 560px;
}

.separator {
  border: none;
  border-top: 1px dashed transparent;
  border-image: repeating-linear-gradient(
      to right,
      #01796f 0,
      #01796f 4px,
      transparent 4px,
      transparent 10px
    )
    1;
  border-image-slice: 1;
  width: 100%;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
